<h1>Welcome to MyApp</h1>

<p>Visit the link below to access the home page:</p>

<%= link_to "Home", root_url %>

<p>You can also access the link below to update the username as well as password:</p>

<%= link_to "Profile", user_url(@user) %>
